@import url(https://fonts.googleapis.com/css?family=Abhaya+Libre:400,800|Oswald:400);html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  background-color: #C11424;
  color: #FFBFB4;
}

.view {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.view--loading {
  opacity: 0;
}

.view--root:before {
  content: "";
  display: block;
  position: fixed;
  border: 1px solid #FFBFB4;
  margin-bottom: env(safe-area-inset-bottom);
  margin-left: env(safe-area-inset-left);
  margin-right: env(safe-area-inset-right);
  margin-top: env(safe-area-inset-top);
  pointer-events: none;
  bottom: 20px;
  left: 20px;
  right: 20px;
  top: 20px;
}

.view--root:after {
  content: "";
  display: block;
  position: fixed;
  border-left: 1px solid #FFBFB4;
  left: 50%;
  z-index: 3;
  bottom: 20px;
  top: 20px;
}

@media screen and (max-width: 999px) {
  .view--root:after {
    border-left: 0 none;
    border-top: 1px solid #FFBFB4;
    bottom: auto;
    left: 20px;
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
    margin-top: 50vh;
    position: absolute;
    right: 20px;
  }
}

@media print {
  .view--root:after {
    border-left: 0 none;
    border-top: 1px solid #FFBFB4;
    bottom: auto;
    left: 20px;
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
    margin-top: 50vh;
    position: absolute;
    right: 20px;
  }
}

@media screen and (max-width: 699px) {
  .view--root:after {
    border-left: 0 none;
    border-top: 1px solid #FFBFB4;
    bottom: auto;
    left: 20px;
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
    margin-top: 50vh;
    position: absolute;
    right: 20px;
  }
}

.view--root__nav {
  background-color: #C11424;
  border-top: 1px solid #FFBFB4;
  left: 50%;
  position: fixed;
  text-align: center;
  z-index: 2;
  bottom: 21px;
  right: 21px;
  padding-bottom: 14px;
  padding-top: 14px;
}

@media screen and (max-width: 1199px) {
  .view--root__nav {
    padding-bottom: 12px;
    padding-top: 12px;
  }
}

@media screen and (max-width: 999px) {
  .view--root__nav {
    margin-bottom: env(safe-area-inset-bottom);
    margin-right: env(safe-area-inset-right);
    margin-left: env(safe-area-inset-left);
  }
}

@media print {
  .view--root__nav {
    margin-bottom: env(safe-area-inset-bottom);
    margin-right: env(safe-area-inset-right);
    margin-left: env(safe-area-inset-left);
  }
}

@media screen and (max-width: 999px) {
  .view--root__nav {
    left: 21px;
  }
}

@media print {
  .view--root__nav {
    left: 21px;
  }
}

@media screen and (max-width: 699px) {
  .view--root__nav {
    left: 21px;
  }
}

.view--root__nav:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #C11424;
  bottom: -301px;
  left: 0;
  right: 0;
  height: 300px;
}

.view--root__nav__link {
  font-weight: 500;
  font-style: normal;
  font-family: 'Oswald', monospace;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFBFB4;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 1199px) {
  .view--root__nav__link {
    font-size: 12px;
    line-height: 12px;
  }
}

.view--root__nav__link--active {
  text-decoration: line-through;
}

.view__title {
  font-weight: 800;
  font-style: normal;
  font-family: 'Abhaya Libre', monospace;
  font-size: 56px;
  line-height: 56px;
  color: #C11424;
  text-align: center;
  background-color: #FFBFB4;
  position: fixed;
  right: 50vw;
  z-index: 1;
  bottom: 21px;
  left: 21px;
  top: 21px;
}

@media screen and (max-width: 1199px) {
  .view__title {
    font-size: 46px;
    line-height: 46px;
  }
}

@media screen and (max-width: 699px) {
  .view__title {
    font-size: 32px;
    line-height: 32px;
  }
}

@media screen and (max-width: 999px) {
  .view__title {
    bottom: auto;
    height: 50vh;
    left: 21px;
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
    margin-top: env(safe-area-inset-top);
    position: absolute;
    right: 21px;
    top: 21px;
  }
}

@media print {
  .view__title {
    bottom: auto;
    height: 50vh;
    left: 21px;
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
    margin-top: env(safe-area-inset-top);
    position: absolute;
    right: 21px;
    top: 21px;
  }
}

@media screen and (max-width: 699px) {
  .view__title {
    bottom: auto;
    height: 50vh;
    left: 21px;
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
    margin-top: env(safe-area-inset-top);
    position: absolute;
    right: 21px;
    top: 21px;
  }
}

.view__title__inner {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  top: 50%;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 18px;
}

.view__title__inner:after {
  content: "";
  display: block;
  position: relative;
  border-top: 4px solid #C11424;
  margin: 10px auto;
  width: 80px;
}

@media screen and (max-width: 1199px) {
  .view__title__inner {
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 699px) {
  .view__title__inner {
    padding-bottom: 14px;
  }
}

.view__title__eyebrow {
  font-weight: 500;
  font-style: normal;
  font-family: 'Oswald', monospace;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C11424;
  text-align: center;
  display: block;
  padding-bottom: 9px;
}

@media screen and (max-width: 1199px) {
  .view__title__eyebrow {
    font-size: 16px;
    line-height: 16px;
  }
}

@media screen and (max-width: 699px) {
  .view__title__eyebrow {
    font-size: 14px;
    line-height: 14px;
  }
}

@media screen and (max-width: 1199px) {
  .view__title__eyebrow {
    padding-bottom: 8px;
  }
}

@media screen and (max-width: 699px) {
  .view__title__eyebrow {
    padding-bottom: 7px;
  }
}

.view__title__inner,
.view__content__inner {
  margin: 0 auto;
  max-width: 500px;
}

.view__content {
  margin-left: 50vw;
  margin-right: 20px;
}

@media screen and (max-width: 999px) {
  .view__content {
    margin-left: 20px;
  }
}

@media print {
  .view__content {
    margin-left: 20px;
  }
}

@media screen and (max-width: 699px) {
  .view__content {
    margin-left: 20px;
  }
}

.view__content:before,
.view__content:after {
  content: "";
  display: block;
  position: fixed;
  background-color: #C11424;
  height: 100%;
  left: 0;
  right: 0;
  z-index: 10;
}

.view__content:before {
  bottom: 100%;
  margin-bottom: -20px;
}

.view__content:after {
  top: 100%;
  margin-top: -20px;
}

.view__content__main {
  display: table;
  height: 100%;
  text-align: center;
  min-height: 100vh;
  width: 100%;
}

.view__content__main .view__content__outer {
  display: table-cell;
  vertical-align: middle;
}

@media screen and (max-width: 999px) {
  .view__content__main {
    margin-top: 50vh;
    min-height: 0;
    padding-top: 20px;
  }
}

@media print {
  .view__content__main {
    margin-top: 50vh;
    min-height: 0;
    padding-top: 20px;
  }
}

@media screen and (max-width: 699px) {
  .view__content__main {
    margin-top: 50vh;
    min-height: 0;
    padding-top: 20px;
  }
}

.view__content .view__content__outer {
  padding: 40px;
  padding-bottom: 82px;
}

@media screen and (max-width: 999px) {
  .view__content .view__content__outer {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
  }
}

@media print {
  .view__content .view__content__outer {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
  }
}

@media screen and (max-width: 699px) {
  .view__content .view__content__outer {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
  }
}

@media screen and (min-width: 1600px) {
  .view__content .view__content__outer {
    padding-bottom: 82px;
  }
}

@media screen and (max-width: 1199px) {
  .view__content .view__content__outer {
    padding-bottom: 76px;
  }
}

@media screen and (max-width: 999px) {
  .view__content .view__content__outer {
    padding-bottom: 76px;
  }
}

@media print {
  .view__content .view__content__outer {
    padding-bottom: 76px;
  }
}

@media screen and (max-width: 699px) {
  .view__content .view__content__outer {
    padding-bottom: 76px;
  }
}

.view__section {
  margin-bottom: 40px;
  margin-top: 40px;
}

.view__section__title {
  font-weight: 500;
  font-style: normal;
  font-family: 'Oswald', monospace;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  color: #FFBFB4;
  margin-bottom: 1em;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 1199px) {
  .view__section__title {
    font-size: 12px;
    line-height: 12px;
  }
}

.view__section__title__inner {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.view__section__title__inner:before,
.view__section__title__inner:after {
  content: "";
  display: block;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  top: 50%;
  border-top: 1px solid #FFBFB4;
  width: 20000%;
}

.view__section__title__inner:before {
  right: 100%;
}

.view__section__title__inner:after {
  left: 100%;
}

.view__section__timing {
  font-weight: 500;
  font-style: normal;
  font-family: 'Abhaya Libre', monospace;
  font-size: 22px;
  line-height: 30px;
  color: #FFBFB4;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .view__section__timing {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 699px) {
  .view__section__timing {
    font-size: 16px;
    line-height: 22px;
  }
}

.view__section__copy {
  font-weight: 500;
  font-style: normal;
  font-family: 'Abhaya Libre', monospace;
  font-size: 18px;
  line-height: 24px;
  color: #FFBFB4;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .view__section__copy {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 699px) {
  .view__section__copy {
    font-size: 14px;
    line-height: 19px;
  }
}

.view__section__copy--main {
  font-weight: 500;
  font-style: normal;
  font-family: 'Abhaya Libre', monospace;
  font-size: 22px;
  line-height: 30px;
  color: #FFBFB4;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .view__section__copy--main {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 699px) {
  .view__section__copy--main {
    font-size: 16px;
    line-height: 22px;
  }
}

.view__section__copy p,
.view__section__copy--main p {
  margin: 1em 0;
}

.view__section__copy strong,
.view__section__copy--main strong {
  font-weight: 800;
}

.view__section__copy i,
.view__section__copy em,
.view__section__copy--main i,
.view__section__copy--main em {
  font-style: italic;
}

.view__section__copy a,
.view__section__copy--main a {
  color: inherit;
  text-decoration: underline;
}

.view__section__copy a:hover,
.view__section__copy--main a:hover {
  text-decoration: none;
}

.view__schedule {
  margin-bottom: 20px;
  margin-top: 20px;
}

.view__schedule__act {
  font-weight: 500;
  font-style: normal;
  font-family: 'Oswald', monospace;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  color: #FFBFB4;
  margin-bottom: 1em;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 1199px) {
  .view__schedule__act {
    font-size: 12px;
    line-height: 12px;
  }
}

.view__schedule__act__inner {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.view__schedule__act__inner:before,
.view__schedule__act__inner:after {
  content: "";
  display: block;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  top: 50%;
  border-top: 1px solid #FFBFB4;
  width: 20000%;
}

.view__schedule__act__inner:before {
  right: 100%;
}

.view__schedule__act__inner:after {
  left: 100%;
}

.view__schedule__start {
  font-weight: 500;
  font-style: normal;
  font-family: 'Abhaya Libre', monospace;
  font-size: 22px;
  line-height: 30px;
  color: #FFBFB4;
  text-align: center;
  display: block;
}

@media screen and (max-width: 1199px) {
  .view__schedule__start {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 699px) {
  .view__schedule__start {
    font-size: 16px;
    line-height: 22px;
  }
}

.view__relationship {
  margin: 2em 0;
}

.view__relationship__link {
  border-bottom: 1px dotted #FFBFB4;
  color: inherit;
  display: block;
  overflow: hidden;
  text-align: justify;
  text-decoration: none;
}

.view__relationship__link:hover {
  border-bottom-style: solid;
}

.view__relationship__name {
  font-weight: 500;
  font-style: normal;
  font-family: 'Abhaya Libre', monospace;
  font-size: 22px;
  line-height: 30px;
  color: #FFBFB4;
  text-align: center;
  float: left;
  text-align: left;
}

@media screen and (max-width: 1199px) {
  .view__relationship__name {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 699px) {
  .view__relationship__name {
    font-size: 16px;
    line-height: 22px;
  }
}

.view__relationship__guest {
  font-weight: 500;
  font-style: normal;
  font-family: 'Oswald', monospace;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFBFB4;
  float: right;
  text-align: right;
  line-height: 30px;
}

@media screen and (max-width: 1199px) {
  .view__relationship__guest {
    font-size: 12px;
    line-height: 12px;
  }
}

@media screen and (max-width: 1199px) {
  .view__relationship__guest {
    line-height: 24px;
  }
}

@media screen and (max-width: 699px) {
  .view__relationship__guest {
    line-height: 22px;
  }
}

.view__relationship__description {
  font-weight: 500;
  font-style: normal;
  font-family: 'Abhaya Libre', monospace;
  font-size: 18px;
  line-height: 24px;
  color: #FFBFB4;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .view__relationship__description {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 699px) {
  .view__relationship__description {
    font-size: 14px;
    line-height: 19px;
  }
}

.view__relationship__description p {
  margin: 1em 0;
}

.view__relationship__description strong {
  font-weight: 800;
}

.view__relationship__description i,
.view__relationship__description em {
  font-style: italic;
}

.view__relationship__description a {
  color: inherit;
  text-decoration: underline;
}

.view__relationship__description a:hover {
  text-decoration: none;
}

